
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundimg{
   background-image: url(images/background.jpg); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;   
}
.boxShadow{
box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);

box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}